body {
    display: block;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b0b4b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #393c42;
}

.header a {
    color: #dde4ef;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo {
    font-weight: 700 !important;
    color: rgb(10, 140, 245) !important;
}

.nav-links {
    font-weight: 500;
    font-size: 20px;
    display: flex;
    gap: 1.5rem;
}

.nav-links a:hover {
    color: #2047f3;
    border-bottom: 2px solid #2047f3;
    /* Change color on hover instead of underline */
}

.nav-links a.selected {
    color: #12b9ec;
    font-weight: 500;
    border-bottom: 2px solid #12b9ec;
}

.hero-text {
    font-size: 32px;
    font-weight: 600;
    padding: 20px 20px;
    color: #2d7ae5;
}

.search {
    border: 2px solid #89afe0;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    padding: 20px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #2d7ae5;
}

.car-collection {
    margin: 0px 20px;
    padding: 0px 20px;

}

.total-cars {
    font-size: 18px;
    font-weight: 700;
    color: #2d7ae5;
}

.collection-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d7ae5;
    border-bottom: 2px solid #e4edf8;
    padding: 20px 0px 4px 0px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;

}

.car-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0px 0px;
}

.car-card {
    border: 2px solid #eaf3fa;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
    overflow: hidden;
}

.car-card-grid {
    max-height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    padding: 0px 0px;
}

.car-image-container {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.year {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    border-radius: 18px;
    background-color: #2d7ae5;
    font-weight: 800;
    color: rgb(250, 251, 251);
    padding: 4px 8px;
    font-size: 14px;
}

.car-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

.car-content {
    padding: 8px 20px;

}

.car-details-cols {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2px;
    padding: 0px;
}

.car-details-grid-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 2px;
    margin: 4px 0px;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}

.name {
    color: #303236;
    margin: 0px;
    font-size: 20px;
    font-weight: 500px;
}

.category {
    border-radius: 18px;
    border: 1px solid #1876e8;
    background-color: #ccdef9;
    font-weight: 800;
    color: #2d7ae5;
    padding: 4px 8px;
    font-size: 14px;
}


.car-details-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2px;
    padding: 0px;
    justify-content: space-around;
}

.car-details-buttons a {
    display: flex;
    justify-content: center;
    /* 2. Centers items horizontally */
    align-items: center;
    /* 3. Centers items vertically */
    gap: 8px;
    text-decoration: none;
    border-radius: 18px;
    border: 1px solid #1876e8;
    background-color: #2d7ae5;
    font-weight: 800;
    color: rgb(250, 251, 251);
    padding: 6px 8px;
    font-size: 14px;

    margin: 4px;

    width: 100%;

}

.hero-block {
    /* min-height: 250px; */
    color: aliceblue;
    background-color: #0b0b4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    padding: 20px
}

.hero-block-text {
    margin-left: 50px;
}

.hero-block img {
    max-height: 300px;
    border-radius: 12px;
}

.hero-text-01 {
    color: rgb(37, 147, 244);
    font-size: 16px;
}

.hero-text-02 {
    color: rgb(242, 245, 248);
    font-size: 38px;
}

.hero-text-03 {
    color: rgb(150, 154, 159);
    font-size: 14px;
}

.hero-numbers {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 32px;
    align-items: start;
}

.hero-number-value {
    color: rgb(231, 233, 235);
    font-size: 20px;
}

.hero-number-title {
    color: rgb(150, 154, 159);
    font-size: 12px;
}

/* Responsive Design for Mobile Screens */
@media (max-width: 600px) {

    .header {
        /* flex-direction: column; */
        padding: 6px;

        gap: 1rem;
        text-align: center;
    }

    .nav-links {
        font-weight: 500;
        font-size: 10px;
        display: flex;
        gap: 0.5rem;
    }

    .hero-text {
        font-size: 20px;
        padding: 0px 20px;
    }

    .search {
        font-size: 20px;
    }

    .car-collection {
        font-size: 20px;
        font-weight: 500;
    }



}

@media (min-width: 600px) {
    .car-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        padding: 0px 0px;
    }

    .logo {
        font-size: 16px;
    }

    .logo i {
        font-size: 16px;
    }


}

@media (min-width: 1024px) {
    .car-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
        padding: 0px 0px;
    }

    .logo {
        font-size: 32px;
    }

    .logo i {
        font-size: 32px;
    }

    .car-spec {
        color: #393a3c;
        margin-top: 4px;
        font-size: 16px;
    }

    .car-spec i {
        color: #2d7ae5;
        /* margin-bottom: 8px; */
        font-size: 12px;
    }
}

@media (min-width: 1540px) {
    .car-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        padding: 0px 0px;
    }

    .car-spec {
        color: #393a3c;
        margin-top: 4px;
        font-size: 14px;
    }

    .car-spec i {
        color: #2d7ae5;
        /* margin-bottom: 8px; */
        font-size: 12px;
    }


}

@media (max-width: 1024px) {


    .hero-block {
        color: aliceblue;
        background-color: #0b0b4b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
        padding: 20px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .hero-block-text {
        margin-left: 24px;
    }

    .hero-block img {
        max-height: 200px;
        border-radius: 12px;
        overflow: hidden;
        margin-right: 24px;
    }

    .hero-text-01 {
        color: rgb(37, 147, 244);
        font-size: 10px;
    }

    .hero-text-02 {
        color: rgb(242, 245, 248);
        font-size: 24px;
    }

    .hero-text-03 {
        color: rgb(150, 154, 159);
        font-size: 8px;
    }

    .hero-numbers {
        margin-top: 20px;
        display: flex;
        justify-content: start;
        gap: 16px;
        align-items: start;
    }

    .hero-number-value {
        color: rgb(231, 233, 235);
        font-size: 12px;
    }

    .hero-number-title {
        color: rgb(150, 154, 159);
        font-size: 8px;
    }

    .car-spec {
        color: #393a3c;
        margin-top: 4px;
        font-size: 12px;
    }

    .car-spec i {
        color: #2d7ae5;
        margin-right: 4px;
        font-size: 12px;
    }

}

@media (max-width: 600px) {
    .hero-block {
        color: aliceblue;
        background-color: #0b0b4b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        padding: 10px
    }

    .hero-block-text {
        margin-left: 8px;
    }

    .hero-block img {
        max-height: 100px;
        border-radius: 12px;
        overflow: hidden;
    }

    .hero-text-01 {
        color: rgb(37, 147, 244);
        font-size: 4px;
    }

    .hero-text-02 {
        margin-top: 4px;
        color: rgb(242, 245, 248);
        font-size: 16px;
    }

    .hero-text-03 {
        color: rgb(150, 154, 159);
        font-size: 5px;
    }

    .hero-numbers {
        margin-top: 10px;
        display: flex;
        justify-content: start;
        gap: 16px;
        align-items: start;
    }

    .hero-number-value {
        color: rgb(231, 233, 235);
        font-size: 8px;
    }

    .hero-number-title {
        color: rgb(150, 154, 159);
        font-size: 6px;
    }

    .car-spec {
        color: #393a3c;
        /* margin-top: 4px; */
        font-size: 12px;
    }

    .car-spec i {
        color: #2d7ae5;
        font-size: 10px;
    }

}