{{ define "carCard" }}

<div class="car-card">
    <div class="car-card-grid">
        <div class="car-image">

            Here goes car image
            <!-- <h3>Image: {{.Image}}</h3> -->
        </div>
        <div class="car-content">
            <div class="car-details-cols" style="justify-content: space-between;">
                <h3 class="name">{{.Name}}</h3>
                <span class="year">{{.Year}}</span>
            </div>
            <p style="color: #b3b1ad; margin-top: 8px; font-size: 18px;">{{.Specifications.Engine}}</p>
            <div class="car-details-cols">
                <div class="car-details-grid-row">
                    <span style="color: #b3b1ad; margin-top: 8px; font-size: 16px;">HP</span>

                    <span style="margin-top: 4px; font-size: 20px;">{{.Specifications.Horsepower}}</span>

                </div>
                <div class="car-details-grid-row">
                    <span style="color: #b3b1ad; margin-top: 8px; font-size: 18px;">Transmission</span>

                    <span style="margin-top: 4px; font-size: 20px;">{{.Specifications.Transmission}}</span>

                </div>
            </div>
            <div class="car-details-cols">
                <div class="car-details-grid-row">
                    <span style="color: #b3b1ad; margin-top: 8px; font-size: 16px;">Drivetrain</span>

                    <span style="margin-top: 4px; font-size: 20px;">{{.Specifications.Drivetrain}}</span>

                </div>

            </div>


        </div>
    </div>




</div>
{{end}}