{{ define "carCard" }}

<div class="car-card">
    <div class="car-card-grid">
        <div class="car-image-container">
            <span class="year">{{.Year}}</span>

            <a href="/car?id={{.ID}}" class="">
                <img src="/api-car-images/{{.Image}}" class="car-image">
            </a>

        </div>
        <div class="car-content">
            <p style="color: #7a7b7e; margin-top: 8px; font-size: 16px;">{{.Manufacturer}}</p>

            <div class="car-details-cols" style="justify-content: space-between;">
                <h3 class="name">{{.Name}}</h3>
                <span class="category">{{.Category}}</span>
            </div>
            <div class="car-details-cols" style=" margin: 10px 0px 10px 0px;">
                <div class="car-details-grid-row left">
                    <div class="car-spec ">
                        <i class="fa-solid fa-gears"></i>
                        <span>{{.Specifications.Engine}}</span>
                    </div>

                    <div class="car-spec ">
                        <i class="fa-solid fa-bolt"></i>
                        <span> {{.Specifications.Horsepower}} HP </span>
                    </div>

                </div>
                <div class="car-details-grid-row ">

                    <div class="car-spec ">
                        <i class="fa-solid fa-gauge-high"></i>
                        <span>{{.Specifications.Transmission}}</span>
                    </div>

                    <div class="car-spec ">
                        <i class="fa-solid fa-car"></i>
                        <span>{{.Specifications.Drivetrain}}</span>
                    </div>
                </div>
            </div>
            <div class="car-details-buttons">
                <button type="button" data-car-id="{{.ID}}" data-selected="{{if .IsCompared}}true{{else}}false{{end}}"
                    onclick="toggleCompare(this)" style="cursor: pointer;">

                    <i
                        class="compare-icon {{if .IsCompared}}fa-solid fa-square-check{{else}}fa-regular fa-square{{end}}"></i>
                    Compare
                </button>

                <!-- <button type="button" data-car-id="{{.ID}}" style="cursor: pointer; ">
                    <i class="fa-regular fa-square"></i> Compare
                </button> -->
                <a href="/car?id={{.ID}}" style="">

                    View details <i class="fa-solid fa-arrow-right"></i></a>

            </div>



        </div>
    </div>




</div>
{{end}}