{{ define "carCard" }}

<div class="car-card">
    <div class="car-card-grid">
        <div class="car-image-container">
            <span class="year">{{.Year}}</span>

            <a href="/{{.ID}}" class="" style="height: 0px; width: 0x;">

                <img src="/api-car-images/{{.Image}}" href="/{{.ID}}" class="car-image">
            </a>

        </div>
        <div class="car-content">
            <p style="color: #7a7b7e; margin-top: 8px; font-size: 16px;">{{.Manufacturer}}</p>

            <div class="car-details-cols" style="justify-content: space-between;">
                <h3 class="name">{{.Name}}</h3>
                <span class="category">{{.Category}}</span>
            </div>
            <div class="car-details-cols" style=" margin: 10px 0px 10px 0px;">
                <div class="car-details-grid-row left">
                    <div class="car-spec ">
                        <i class="fa-solid fa-gears"></i>
                        <span>{{.Specifications.Engine}}</span>
                    </div>

                    <div class="car-spec ">
                        <i class="fa-solid fa-bolt"></i>
                        <span> {{.Specifications.Horsepower}} HP </span>
                    </div>

                </div>
                <div class="car-details-grid-row ">

                    <div class="car-spec ">
                        <i class="fa-solid fa-gauge-high"></i>
                        <span>{{.Specifications.Transmission}}</span>
                    </div>

                    <div class="car-spec ">
                        <i class="fa-solid fa-car"></i>
                        <span>{{.Specifications.Drivetrain}}</span>
                    </div>
                </div>
            </div>
            <div class="car-details-buttons">
                <a href="/{{.ID}}" style="">
                    <i class="fa-solid fa-code-compare"></i>
                    Compare </a>
                <a href="/{{.ID}}" style="">

                    View details <i class="fa-solid fa-arrow-right"></i></a>

            </div>



        </div>
    </div>




</div>
{{end}}