{{define "home"}}
<!DOCTYPE html>
<html>

<head>
    <title>GoCars</title>
    <meta charset="UTF-8">
    <title> Interface - Using template </title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{template "header" .ActivePage}}

    <div>
        <p class="hero-text"> Find the list of cars availavle in GoCars </p>
        <div class="search">
            <p> Here goes search feature </p>
        </div>
        {{template "carCollection" .}}

    </div>



</body>

</html>
{{end}}